<launch>
    <!-- Lanzar el nodo turtlesim_node del paquete turtlesim -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>

    <!-- Lanzar el script turtle_pc.py (Proportional Control) -->
    <node pkg="Practicas_lab" type="euc_dist.py" name="euc_dist_node" output="screen" />
                
</launch>
